<div ng-if="exampleCtrl.type === 'advance'" class="row align-center">
    <div style="margin-left:28%" class="columns">
        <button class="button" type="button" data-toggle="example-dropdown">Sort</button>
        <div class="dropdown-pane" id="example-dropdown" data-dropdown data-auto-focus="true">
            <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
                <li ng-click="exampleCtrl.sort(option)" ng-repeat="option in exampleCtrl.options">
                    {{option.key}}
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row align-center">
    <table>
        <tr>
            <th>
                <ng-checkbox-2 super-group="{{::exampleCtrl.type}}" ng-if="!exampleCtrl.isMultiTableMode" head="true">ITEM</ng-checkbox-2>
            </th>
            <th>CATEGORY</th>
            <th>QUANTITY</th>
            <th>AMOUNT</th>
            <th></th>
        </tr>
        <tbody ng-repeat="products in (exampleCtrl.isMultiTableMode ? exampleCtrl.products : [exampleCtrl.products])" ng-init="checkboxGroupId = $index;">
        <tr ng-if="products.length >0 && exampleCtrl.isMultiTableMode">
            <td>
                <ng-checkbox-2 super-group="{{::exampleCtrl.type}}" groups="::products[0]['category']" data-id="{{'headCheckBox'+products[0]['category']}}" head="true">
                    <h3 style="display:inline-block">Category {{products[0]['category']}}</h3>
                </ng-checkbox-2>
            </td>
            <td>{{::product.name}}</td>
            <td>Selected price: {{ exampleCtrl.sumByGroups[products[0]['category']].sumByUnits }}</td>
        </tr>
        <tr ng-repeat="product in products | limitTo:exampleCtrl.totalDisplayed track by product.id" tabindex="0">
            <td>
                <ng-checkbox-2 super-group="{{::exampleCtrl.type}}" groups="::product.category"
                               data-id="{{::product.id}}"
                               ng-model="product.value"
                               count="{{::product.quantity}}"
                               sum="::product.price"
                               unit="{{::product.currency}}">{{::product.name}}
                </ng-checkbox-2>
            </td>
            <td>{{::product.category}}</td>
            <td>{{::product.quantity}}</td>
            <td>{{::product.price}} {{::product.currency}}</td>
            <td><button style="cursor:pointer" ng-click="exampleCtrl.delete(product)">Delete</button></td>
        </tr>

        <!-- Summary -->
        <tr ng-if="products.length >0">
            <td colspan="4">
                <span>You selected: {{exampleCtrl.count}} items</span>
            </td>
            <td colspan="1">
                <span ng-if="!exampleCtrl.isMultiTableMode" ng-repeat="amount in exampleCtrl.sumByUnits">
                    <span ng-if="amount.sum > 0">{{ amount.sum}} {{ amount.unit }}<br/></span>
                </span>
                <span ng-if="exampleCtrl.isMultiTableMode" ng-repeat="amount in exampleCtrl.sumByGroups[payments[0].from].sumByUnits">
                    {{ amount.sum}} {{ amount.unit }}<br/>
                </span>
            </td>
            <td colspan="2"></td>
        </tr>


        </tbody>
    </table>
</div>

<div class="row align-center">
    <div ng-if="exampleCtrl.products.length >0">
        <button class="hollow button" state=" {{ exampleCtrl.totalDisplayed >= products.length ? 'disabled' : null }} "  ng-click="loadMore(exampleCtrl.totalDisplayed)">Load More</button>
    </div>
</div>
