<div class="row align-center">
    <table>
        <tr>
            <th>
                <ng-checkbox-2 ng-if="!multiCBCTrl.isMultiTableMode" head="true">ITEM</ng-checkbox-2>
            </th>
            <th>CATEGORY</th>
            <th>QUANTITY</th>
            <th>AMOUNT</th>
            <th></th>
        </tr>
        <tbody ng-repeat="products in (multiCBCTrl.isMultiTableMode ? multiCBCTrl.products2 : [multiCBCTrl.products2])" ng-init="checkboxGroupId = $index;">
        <tr ng-if="products.length >0 && multiCBCTrl.isMultiTableMode">
            <td>
                <ng-checkbox-2 groups="::products[0]['category']"
                    data-id="{{'headCheckBox'+products[0]['category']}}" 
                    head="true">
                <h3 style="display:inline-block">Category {{products[0]['category']}}</h3>
                </ng-checkbox-2>
            </td>
            <td>{{::product.name}}</td>
            <td>Selected price: {{ multiCBCTrl.sumByGroups[products[0]['category']].sumByUnits }}</td>
        </tr>
        <tr ng-repeat="product in products | limitTo:totalDisplayed track by product.id" tabindex="0">
            <td>
                <ng-checkbox-2 groups="::product.category"
                              data-id="{{::product.id}}"
                              ng-model="product.value"
                              sum="::product.price"
                               count="{{::product.quantity}}"
                              unit="{{::product.currency}}">{{::product.name}}
                </ng-checkbox-2>
            </td>
            <td>{{::product.category}}</td>
            <td>{{::product.quantity}}</td>
            <td>{{::product.price}} {{::product.currency}}</td>
            <td><button style="cursor:pointer" ng-click="multiCBCTrl.delete(product)">Delete</button></td>
        </tr>

        </tbody>
    </table>
</div>

<div class="row align-center"> 
    <div ng-if="multiCBCTrl.products2.length >0">
        <button class="hollow button" state=" {{ totalDisplayed >= products.length ? 'disabled' : null }} "  ng-click="loadMore(totalDisplayed)">Load More</button>
        <button state=" {{ !count ? 'disabled' : null }} " class="secondary hollow button" href="#">CONFIRM ({{multiCBCTrl.count2}}) {{ multiCBCTrl.sumByUnits2 }}</button>
    </div>
</div>